.section--dark
	background-color: $greyBg
	color: $whiteText
.section--white
	background-color: $white
	color: $greyText
	padding: 110px 0
.section--white--p-0 
	background-color: $white
	color: $greyText
	padding: 110px 0 0 0
.section--grey
	background-color: $actionSection
	color: $whiteText
	padding: 50px 60px 
	h2
		color: $whiteText

@media (max-width: 1400px)
	.section--white
		padding: 90px 0
	.section--white--p-0 
		padding: 90px 0 0 0	
	.section--grey
		padding: 40px 60px 
@media (max-width: 480px)
	.section--white
		padding: 60px 0
	.section--white--p-0 
		padding: 60px 0 0 0	
	.section--grey
		padding: 40px 30px 
	

				
