.section_action
	display: flex
	margin: 0 90px
	border-radius: 15px 15px 0 0
	&__form_wrapper
		.consultation-form
			margin-top: 30px
	&__tel_wrapper
		margin-left: auto
		h2
			margin-bottom: 35px
		.tel
			font-family: "Open Sans", sans-serif
			font-size: 22px
		i
			color: $accent
			font-size: 22px
			padding-right: 15px