<!DOCTYPE html>

<html class="wow-animation" lang="UA">   

<head> 
  <meta charset="utf-8">
  <title>DOCK 93 | Дизайнерські меблі</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  
  <!-- Styles -->
  <!-- build:css assets/styles/styles.css -->
  <link rel="stylesheet" href="temp/styles/style.css">
  <!-- endbuild -->

  <!-- Vendor JS code -->
  <!-- build:js assets/scripts/Vendor.js -->
  <script src="/temp/scripts/Vendor.js"></script>
  <!-- endbuild -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Raleway:500,700" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">



  <!-- Theme Color -->
  <meta name="theme-color" content="#2C2C2C">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#2C2C2C">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  

  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->


</head>

<body>
  <div class="main_wrapper">

    <header class="header">
      <div class="header__wrapper">

        <img class="header__logo" src="assets/img/logo/DOCK 93.png" alt="DOCK 93">
        <div class="header__horizontal_line"></div>
        
        <a class="header__contact_block contact_block__mail" href="mailto: info@dock_93.com">info@dock_93.com</a>
        <a class="header__contact_block contact_block__phone" href="tel: +380631234567">+38(063) 123-45-67</a>

        <div class="header__language">
          <a class="active" href="#">UA</a>
          <a href="#">EN</a>
          <a href="#">RU</a>
        </div>

      </div>
    </header>

    <main>
      <section class="section_main section--dark">
        <div class="social_area">
          <a href="#" class="social_circle">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social_circle">
           <i class="fab fa-instagram"></i>
         </a>
         <div class="social__vertical_line"></div>
       </div>
       <div class="decor_rect"></div>
       <div class="img_main">
        <div class="main_card">
          <h1 class="heading-1">Дизайнерські меблі для вашого інтер'єру</h1>
          <p class="main_card__desc">Компанія "Dock 93" виготовляє під замовлення комфортні дизайнерські меблі для HoReCa офісів і приватних будинків та квартир.</p>
          <a class="button button-normal"href="#">Безкоштовна консультація</a>
        </div>
      </div>
    </section>

    <section class="secton_bg_img section--white">
      <div class="images_wrapper"> 
        <div class="images_wrapper--vert"> 
          <img class="adv_vert_img" src="assets/img/adv_sec_img/1.png" alt="Виріб 1">
          <img class="adv_vert_img" src="assets/img/adv_sec_img/2.png" alt="Виріб 2">
        </div>

        <div class="images_wrapper--vert"> 
          <img class="adv_square_img" src="assets/img/adv_sec_img/3.png" alt="Виріб 3">
          <p class="comp_info" >Команда "Dock 93" починаючи із 1993 року створює настрій в ваших оселях, місцях відпочинку та роботи. За допомогою стильних, якістних та екологічних меблів у інтер'єрі.</p>
          <img class="adv_vert_img adv_vert_img--over" src="assets/img/adv_sec_img/4.png" alt="Виріб 4">
        </div>

        <div class="images_wrapper--hor"> 
          <img class="adv_hor_img" src="assets/img/adv_sec_img/5.png" alt="Виріб 5">
        </div>
      </div>


      <div class="adv_wrapper">
        <h2>Чому варто обрати <br> саме нас</h2>
        <p>Задоволений клієнт - це основна міра якісно виконаної роботи для нас.</p>
        <div class="adv_item">
          <div class="adv_item__icon icon_1"></div>
          <div class="adv_item__text">
            <h3 class="adv_item__text__title">Висока якість продукції</h3>  
            <p class="adv_item__text__desc">Наша продукція виготовляються виключно із застосуванням якісних та надійних матеріалів, завдяки чому такі меблі не потребують складного догляду та відрізняються довговічністю.</p>  
          </div>
        </div>
        <div class="adv_item">
          <div class="adv_item__icon icon_2"></div>
          <div class="adv_item__text">
            <h3 class="adv_item__text__title">Індивідуальний підхід до клієнта</h3>  
            <p class="adv_item__text__desc">Цінова політика вас приємно здивує а консультаційний супровід наших спеціалістів допоможе вам зробити правильний вибір.</p>  
          </div>
        </div>
        <div class="adv_item">
          <div class="adv_item__icon icon_3"></div>
          <div class="adv_item__text">
            <h3 class="adv_item__text__title">Швидкі терміни</h3>  
            <p class="adv_item__text__desc">Великий досвід в виконанні складних дизайнерських меблів та злагоджена команда дає можливість нам виконувати усі замовлення в термін.</p>  
          </div>
        </div>
      </div>
    </section>

    <section class="section_products section--dark">
      <div class="section_products__vertical_line"></div>

      <div class="section_products__wrapper">
        <div class="section_products__title_wrapper">
          <h2 class="heading-2">Наші продукти</h2>
          <p class="section_desc">Дизайнерські меблі, які поєднують в собі креативність і функціональність це результат нашого постійного навчання та практики.</p>
        </div>

        <div class="section_products__items_wrapper">
          <div class="section_products__item">
            <img class="prod_atem__img" src="assets/img/prod_items/1.png" alt="Виріб 1"> 
            <h3 class="prod_atem__title">Назва продукту</h3>
            <p class="prod_atem__desc">Короткий опис продукту, представлення його основних характеристик, матеріалів та позитивних якостей.</p>
          </div>
          <div class="section_products__item">
            <img class="prod_atem__img" src="assets/img/prod_items/2.png" alt="Виріб 1">
            <h3 class="prod_atem__title">Назва продукту</h3>
            <p class="prod_atem__desc">Короткий опис продукту, представлення його основних характеристик, матеріалів та позитивних якостей.</p>
          </div>
          <div class="section_products__item">
            <img class="prod_atem__img" src="assets/img/prod_items/3.png" alt="Виріб 1">
            <h3 class="prod_atem__title">Назва продукту</h3>
            <p class="prod_atem__desc">Короткий опис продукту, представлення його основних характеристик, матеріалів та позитивних якостей.</p>
          </div>
        </div>
        <div class="nav_buttons">
          <div class="nav_buttons--prew">
            <i class="fas fa-long-arrow-alt-left"></i>
          </div>
          <div class="nav_buttons--next">
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
        </div>
        
      </div>
    </section>

    <section class="secton_bg_img section--white d_flex_col">
      <div class="section_title_wrapper">
        <h2 class="heading-2">Отримайте консультацію</h2>
        <p class="section_desc">Перший крок в створенні aбо удосконаленні вашого неповторного дизайну.</p>
      </div>
      <div class="icons_wrapper">
        <div class="icon_item">
          <div class="rect">
            <div class="circle">
              <img class="icon" src="assets/img/icons/paint.svg" alt="Обговоріть дизайн">
            </div>
          </div>
          <h3 class="light_grey_text">Обговоріть дизайн та інші аспекти із нашим спеціалістом</h3>
        </div>
        <div class="icon_item">
          <div class="rect">
            <div class="circle">
              <img class="icon" src="assets/img/icons/jigsaw.svg" alt="Обговоріть дизайн">
            </div>
          </div>
          <h3 class="light_grey_text">Отримайте поради та варіант нашого бачення на вирішення вашої задачі</h3>
        </div>
        <div class="icon_item">
          <div class="rect">
            <div class="circle">
              <img class="icon" src="assets/img/icons/question.svg" alt="Обговоріть дизайн">
            </div>
          </div>
          <h3 class="light_grey_text">Ви також можете задати питання та запропонувати будь-які зміни в проекті</h3>
        </div>
      </div>

      <section class="section_action section--grey">
        sdf
      </section>
      
    </section>
  </main>
</div>



</body>
<!-- build:js assets/scripts/core.min.js -->
<script src="/temp/scripts/core.min.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/App.js -->
<script src="/temp/scripts/App.js"></script> 
<!-- endbuild -->

</html>