<!DOCTYPE html>

<html class="wow-animation" lang="RU">   

<head> 
  <meta charset="utf-8">
  <title>DOCK 93 | Дизайнерская мебель</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  
  <!-- Styles -->
  <!-- build:css assets/styles/styles.css -->
  <link rel="stylesheet" href="temp/styles/style.css">
  <!-- endbuild -->

  <!-- Vendor JS code -->
  <!-- build:js assets/scripts/Vendor.js -->
  <script src="/temp/scripts/Vendor.js"></script>
  <!-- endbuild -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800%7CRaleway:500,700" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">



  <!-- Theme Color -->
  <meta name="theme-color" content="#2C2C2C">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#2C2C2C">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  

  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->


</head>

<body>
  <div class="main_wrapper">

<!-- START Header -->
    <header class="header">
      <div class="header__wrapper">

        <img class="header__logo" src="assets/img/logo/DOCK_93.png" alt="DOCK 93">
        <div class="header__horizontal_line"></div>
        
        <a class="header__contact_block contact_block__mail" href="mailto:info@dock_93.com">info@dock_93.com</a>
        <a class="header__contact_block contact_block__phone" href="tel:0631234567">+38(063) 123-45-67</a>
      
      <!-- START Mobile contacts -->
        <a class="header__contact_block contact_block__mail--mobile" href="mailto:info@dock_93.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a class="header__contact_block contact_block__phone--mobile" href="tel:0631234567">
          <i class="fas fa-phone"></i>
        </a>

        <a class="header__language__icon wow fadeInDown" data-wow-delay=".4s"" href="#">RU</a>
        <div class="header__language__block header__language--mobile" >
          <a  href="index.html">UA</a>
          <a href="en.html">EN</a>
          <a class="active" href="ru.html">RU</a>
        </div>
      <!-- END Mobile contacts -->

        <div class="header__language header__language--normal wow fadeInDown" data-wow-delay=".4s">
          <a  href="index.html">UA</a>
          <a href="en.html">EN</a>
          <a class="active" href="ru.html">RU</a>
        </div>

      </div>
    </header>
  <!-- End Header -->

    <main>
  <!-- Start Main section(first) -->
      <section class="section_main section--dark">
        <div class="social_area">
          <a href="#" class="social_circle wow fadeIn" data-wow-delay=".8s">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social_circle wow fadeIn" data-wow-delay=".8s">
           <i class="fab fa-instagram"></i>
         </a>
         <div class="social__vertical_line"></div>
       </div>
       <div class="decor_rect"></div>
       <div class="img_main">
        <div class="main_card wow fadeInLeft" data-wow-delay=".4s">
          <h1 class="heading-1">Дизайнерская мебель для вашего интерьера</h1>
          <p class="main_card__desc">Компания "Dock 93" изготавливает под заказ комфортные дизайнерскую мебель для HoReCa офисов и частных домов и квартир.</p>
          <a class="button button-normal wow fadeInUp" data-wow-delay=".8s" href="#free_consult" >Бесплатная консультация</a>
        </div>
      </div>
    </section>
  <!-- End Main section(first) -->

  <!-- End Advantages section -->
    <section class="secton_bg_img section--white">
      <div class="images_wrapper"> 
        <div class="images_wrapper--vert"> 
          <img class="adv_vert_img wow fadeInLeft lazyload" data-wow-delay=".4s" data-src="assets/img/adv_sec_img/1.png" alt="Виріб 1">
          <img class="adv_vert_img lazyload" data-src="assets/img/adv_sec_img/2.png" alt="Виріб 2">
        </div>

        <div class="images_wrapper--vert"> 
          <img class="adv_square_img wow fadeInDown lazyload" data-wow-delay=".6s" data-src="assets/img/adv_sec_img/3.png" alt="Виріб 3">
          <p class="comp_info wow fadeInUp" data-wow-delay=".6s" >Команда "Dock 93" начиная с 1993 года создает настроение в ваших домах, местах отдыха и работы. С помощью стильных, качественной и экологической мебели в интерьере.</p>
          <img class="adv_vert_img adv_vert_img--over lazyload" data-src="assets/img/adv_sec_img/4.png" alt="Виріб 4">
        </div>

        <div class="images_wrapper--hor wow fadeInUp" data-wow-delay=".6s"> 
          <img class="adv_hor_img" src="assets/img/adv_sec_img/5.png" alt="Виріб 5">
        </div>
      </div>


      <div class="adv_wrapper">
        <h2>Почему стоит выбрать <br> именно нас</h2>
        <p>Довольный клиент - это основная мера качественно выполненной работы для нас.</p>
        <div class="adv_item wow fadeInRight" data-wow-delay=".4s">
          <div class="adv_item__icon icon_1"></div>
          <div class="adv_item__text">
            <h3 class="adv_item__text__title">Высокое качество продукции</h3>  
            <p class="adv_item__text__desc">Наша продукция изготавливается исключительно с применением качественных и надежных материалов, благодаря чему такая мебель не требует сложного ухода и отличается долговечностью.</p>  
          </div>
        </div>
        <div class="adv_item wow fadeInRight" data-wow-delay=".8s">
          <div class="adv_item__icon icon_2"></div>
          <div class="adv_item__text">
            <h3 class="adv_item__text__title">Индивидуальный подход к клиенту</h3>  
            <p class="adv_item__text__desc">Ценовая политика вас приятно удивит а консультационное сопровождение наших специалистов поможет вам сделать правильный выбор.</p>  
          </div>
        </div>
        <div class="adv_item wow fadeInRight" data-wow-delay="1.2s">
          <div class="adv_item__icon icon_3"></div>
          <div class="adv_item__text">
            <h3 class="adv_item__text__title">Быстрые сроки</h3>  
            <p class="adv_item__text__desc">Большой опыт в выполнении сложной дизайнерской мебели и слаженная команда дает возможность нам выполнять все заказы в срок.</p>  
          </div>
        </div>
      </div>
    </section>
  <!-- End Advantages section -->

  <!-- Start Products section -->
    <section class="section_products section--dark">
      <div class="section_products__vertical_line"></div>

      <div class="section_products__wrapper">
        <div class="section_products__title_wrapper wow fadeInRight" data-wow-delay=".4s">
          <h2 class="heading-2">Наши продукты</h2>
          <p class="section_desc">Дизайнерская мебель, которые сочетают<br> в себе креативность и функциональность это <br> результат нашего постоянного обучения и практики.</p>
        </div>

          <div class="section_products__items_wrapper owl-carousel owl-theme owl-loaded owl-text-select-on" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-stage-padding="0" data-loop="false" data-autoplay="true" data-margin="20" data-mouse-drag="true" data-nav-custom="#owl-carousel-nav-1">

          <div class="section_products__item item wow fadeInUp" data-wow-delay=".8s">
            <img class="prod_atem__img lazyload" data-src="assets/img/prod_items/1.png" alt="Виріб 1"> 
            <h3 class="prod_atem__title">Название продукта</h3>
            <p class="prod_atem__desc">Краткое описание продукта, представление его основных характеристик, материалов и положительных качеств.</p>
          </div>

          <div class="section_products__item item wow fadeInUp" data-wow-delay="1s">
            <img class="prod_atem__img lazyload" data-src="assets/img/prod_items/2.png" alt="Виріб 1">
            <h3 class="prod_atem__title">Название продукта</h3>
            <p class="prod_atem__desc">Краткое описание продукта, представление его основных характеристик, материалов и положительных качеств.</p>
          </div>

          <div class="section_products__item item wow fadeInUp" data-wow-delay="1.2s">
            <img class="prod_atem__img lazyload" data-src="assets/img/prod_items/3.png" alt="Виріб 1">
            <h3 class="prod_atem__title">Название продукта</h3>
            <p class="prod_atem__desc">Краткое описание продукта, представление его основных характеристик, материалов и положительных качеств.</p>
          </div>
          <div class="section_products__item item wow fadeInUp" data-wow-delay="1.4s">
            <img class="prod_atem__img lazyload" data-src="assets/img/prod_items/1.png" alt="Виріб 1">
            <h3 class="prod_atem__title">Название продукта</h3>
            <p class="prod_atem__desc">Краткое описание продукта, представление его основных характеристик, материалов и положительных качеств.</p>
          </div>
          <div class="section_products__item item wow fadeInUp" data-wow-delay="1.6s">
            <img class="prod_atem__img lazyload" data-src="assets/img/prod_items/2.png" alt="Виріб 1">
            <h3 class="prod_atem__title">Название продукта</h3>
            <p class="prod_atem__desc">Краткое описание продукта, представление его основных характеристик, материалов и положительных качеств.</p>
          </div>
          <div class="section_products__item item wow fadeInUp" data-wow-delay="1.8s">
            <img class="prod_atem__img lazyload" data-src="assets/img/prod_items/1.png" alt="Виріб 1">
            <h3 class="prod_atem__title">Название продукта</h3>
            <p class="prod_atem__desc">Краткое описание продукта, представление его основных характеристик, материалов и положительных качеств.</p>
          </div>

        </div>
        <div class="nav_buttons owl-outer-navigation wow fadeInRight" data-wow-delay=".1s" id="owl-carousel-nav-1">
          <div class="nav_buttons--prew owl-arrow owl-arrow-prev">
            <i class="fas fa-long-arrow-alt-left"></i>
          </div>
          <div class="nav_buttons--next owl-arrow owl-arrow-next">
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
        </div>

      </div>
    </section>
  <!-- End Products section -->

  <!-- Start Consulting section -->
    <section class="secton_bg_img section--white--p-0  d_flex_col ">
      <div class="section_title_wrapper">
        <h2 class="heading-2">Получите консультацию</h2>
        <p class="section_desc">Первый шаг в создании aбо совершенствовании вашего неповторимого дизайна.</p>
      </div>
      <div class="icons_wrapper">
        <div class="icon_item">
          <div class="rect">
            <div class="circle">
              <img class="icon img-svg " src="assets/img/icons/paint.svg" alt="Обговоріть дизайн">
            </div>
          </div>
          <h3 class="light_grey_text">Обсудите дизайн и другие аспекты с нашим специалистом</h3>
        </div>
        <div class="icon_item">
          <div class="rect">
            <div class="circle">
              <img class="icon img-svg " src="assets/img/icons/jigsaw.svg" alt="Обговоріть дизайн">
            </div>
          </div>
          <h3 class="light_grey_text">Получите советы и вариант нашего видения на решение вашей задачи</h3>
        </div>
        <div class="icon_item">
          <div class="rect">
            <div class="circle">
              <img class="icon img-svg " src="assets/img/icons/question.svg" alt="Обговоріть дизайн">
            </div>
          </div>
          <h3 class="light_grey_text">Вы также можете задать вопрос и предложить любые изменения в проекте</h3>
        </div>
      </div>

    <!-- Start Consult form section -->
      <section class="section_action section--grey wow fadeInUp" data-wow-delay=".4s" id="free_consult" >
        <div class="section_action__form_wrapper">
          <h2 class="small_title">Присылайте запрос на консультацию</h2> 
          <form class="consultation-form" action="https://formspree.io/dock93company@gmail.com"  target="_blank" method="POST">
            <input class="name-field" id="name" placeholder="Ваше имя" type="text" name="Name"  data-validation-required-message="Введите пожалуйста ваше имя" required>
            <input class="phone-field" id="number" placeholder="Ваш Телефон" type="text" name="E-mail" data-validation-required-message="Введите пожалуйста ваш номер или почту"  required>
            <button class="button button-form"> Отправить </button>
          </form>
        </div>

        <div class="section_action__tel_wrapper">
          <h2 class="small_title">или звоните</h2>
          
          <a class="tel" href="tel:0631234567" > <i class="fas fa-phone"></i>+380 63 123 45 67</a >
        </div>
      </section>
        <!-- End Consult form section -->
    </section>
  <!-- End Consulting section -->

  <!-- Start Footer -->
    <footer class="footer">
    <!-- Start Contacts section -->
      <section class="section_contacts wow fadeInUp" data-wow-delay="0.4s">
        <div class="contact_item">
         <div class="contact_title">Телефон</div>
         <a href="tel:0631234567" class="contact_data">+380 63 123 45 67</a>
       </div>  
       <div class="contact_item">
         <div class="contact_title">Соц. сети</div>
         <a href="#" class="contact_data">Facebook</a>
         <a href="#" class="contact_data">Instagram</a>
       </div>
       <div class="contact_item">
         <div class="contact_title">E-mail</div>
         <a href="mailto:info@dock_93.com" class="contact_data">info@dock_93.com</a>
       </div>  
       <div class="contact_item">
         <div class="contact_title">Адрес</div>
         <a href="https://www.google.com/maps/place/Heroiv+UPA+St,+77,+L'viv,+L'vivs'ka+oblast,+79000/data=!4m2!3m1!1s0x473ae77e96ffc7a9:0xd03ceb64f536aba4?sa=X&ved=2ahUKEwiu5fbR1ZDiAhXP-6QKHbS0Aa0Q8gEwAHoECAoQAQ" class="contact_data">м. Львов Героев УПА 77</a>
       </div> 
     </section>
     <!-- End Contacts section -->

     <a class="footer__logo" href="#"><img src="assets/img/logo/DOCK_93.png" alt="DOCK 93"></a>
     <div class="copyright_wrapper">
       <p class="copyright"> ©  <span class="copyright-year"></span> Dock93. Все права защищены.</p>
       <a class="author" href="#">By LUAN & Co.</a>
     </div> 

   </footer>
   <!-- End Footer -->
 </main>
</div>

<!-- To top button -->
<a href="#" id="ui-to-top" class="ui-to-top">
  <i class="fas fa-long-arrow-alt-up"></i>
</a>




</body>
<!-- build:js assets/scripts/core.min.js -->
<script src="/temp/scripts/core.min.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/App.js -->
<script src="/temp/scripts/App.js"></script> 
<!-- endbuild -->

</html>