*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

body 
	font-family: "Raleway", sans-serif
	font-weight: 500
	font-size: 14px
	line-height: 1.71429
	letter-spacing: 0.05em
	color: $greyText
	background-color: #fff
	margin: 0

// **
// ** Font
// ** --------------------------------------------------


h1, h2, h3, h4, h5, h6, [class*='heading-']
	margin-top: 0
	margin-bottom: 0
	font-family: $openSansFont
	font-weight: 800
	letter-spacing: 0.05em
	color: $blackText

// **
// ** H1
// ** --------------------------------------------------
h1, .heading-1
	font-size: 42px
	line-height: 1.5
	margin-bottom: 30px
@media (max-width: 1400px)
	h1, .heading-1
		font-size: 38px
		line-height: 1.2
		margin-bottom: 30px
@media (max-width: 900px)
	h1, .heading-1
		font-size: 32px
		line-height: 1.2
// @media (max-width: 480px)
// 	h1, .heading-1
// 		font-size: 27px


// **
// ** H2
// ** --------------------------------------------------

h2, .heading-2
	font-size: 46px
	line-height: 1.2
h2 + p
	margin-top: 25px

@media (max-width: 1400px)
	h2, .heading-2
		font-size: 36px
		line-height: 1.2

	h2 + p
		margin-top: 20px

@media (max-width: 900px)
	h2, .heading-2
		font-size: 32px
		line-height: 1.2



// **
// ** H3
// ** --------------------------------------------------
h3, .heading-3
	font-size: 24px
	line-height: 1.2
h3 + p
		padding-top: 15px

@media (max-width: 1400px)
	h3, .heading-3
		font-size: 20px
		line-height: 1.2
	h3 + p
		padding-top: 15px

@media (max-width: 900px)
	h3, .heading-3
		font-size: 18px
		line-height: 1.2

// **
// ** H4
// ** --------------------------------------------------
	
// h4, .heading-4
// 	font-size: 26px
// 	line-height: 1.2
	
@media (max-width: 1400px)
	h4, .heading-4
		font-size: 22px
		



// **
// ** H5
// ** --------------------------------------------------


// **
// ** H6
// ** --------------------------------------------------


// **
// ** P
// ** --------------------------------------------------
p
	margin: 0
	font-family: "Raleway", sans-serif
	font-size: 20px
	color: $greyText
@media (max-width: 1400px)
	p
		margin: 0
		font-family: "Raleway", sans-serif
		font-size: 16px
		color: $greyText

@media (max-width: 900px)
	p
		font-size: 14px

// **
// ** a
// ** --------------------------------------------------
h1 a
	color: inherit
	&:focus, &:active
		color: inherit

h2 a
	color: inherit
	&:focus, &:active
		color: inherit

h3 a
	color: inherit
	&:focus, &:active
		color: inherit

h4 a
	color: inherit
	&:focus, &:active
		color: inherit

h5 a
	color: inherit
	&:focus, &:active
		color: inherit

h6 a
	color: inherit
	&:focus, &:active
		color: inherit

[class*='heading-'] a
	color: inherit
	&:focus, &:active
		color: inherit

// **
// ** List
// ** --------------------------------------------------
ul, ol
	display: block
	list-style: none;
	padding: 0
	margin: 0
	width: 100%
li
	list-style-type: none
a
	text-decoration: none
	transition: $transNormal
	color: inherit
	&:link



// **
// ** Img Img-wrapper
// ** --------------------------------------------------


// **
// ** Position
// ** --------------------------------------------------


// **
// ** Divider
// ** --------------------------------------------------


 // **
 // ** Text Alignment
 // ** --------------------------------------------------




// **
//  ** Addition
//  ** --------------------------------------------------

.button:focus, .button:active, .button:active:focus 
	outline: none
input
	outline: none

.small_title
	font-size: 34px

@media (max-width: 1400px)	
	.small_title
		font-size: 26px

@media (max-width: 900px)	
	.small_title
		font-size: 28px

.d_flex_col
	display: flex
	flex-direction: column
.light_grey_text
	color: $lightGreyText
	
input
	font-size: 20px
	min-height: 58px
	border-radius: 4px
	border: none
	padding-left: 15px
	margin-right: 60px
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.20)

@media (max-width: 1400px)
	input
		font-size: 16px
		min-height: 50px
		margin-right: 15px

