// **
// ** Color vars
// ** --------------------------------------------------
$black: #222931
$grey: #DADDD8
$darkGrey: #707070 
$white: #FFFFFF
$accent: #035E7B
$blue: #0D2D62
$lightBlue: #74B3CE

// **
// ** Text color vars
// ** --------------------------------------------------
$greyText: #646464
$dirtWhiteText: #EBE7E7

$blackText: #222931
$whiteText: #FFFFFF
$accentText: #035E7B
$blueText: #0D2D62
$greenText: green

// **
// ** Button color vars
// ** --------------------------------------------------
$accentButton: #035E7B

// **
// ** Elements color vars
// ** --------------------------------------------------
$bgHeader: #2C2C2C
$bgFooter: #2C2C2C
$headLine: #727272
$contactBorder: #515151

$ralewayFont: "Raleway", sans-serif
$openSansFont: "Open sans", sans-serif
